<div class="dashboard-container">
  <mat-card class="card clientes">
    <mat-icon class="icon">people</mat-icon>
    <h2>Clientes</h2>
    <p>{{ totalClientes }}</p>
  </mat-card>

  <mat-card class="card rutinas">
    <mat-icon class="icon">fitness_center</mat-icon>
    <h2>Rutinas</h2>
    <p>{{ totalRutinas }}</p>
  </mat-card>

  <mat-card class="card ejercicios">
    <mat-icon class="icon">sports_gymnastics</mat-icon>
    <h2>Ejercicios</h2>
    <p>{{ totalEjercicios }}</p>
  </mat-card>
</div>
