.dashboard-container {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  justify-content: center;
  padding: 20px;
}

.card {
  width: 400px;
  text-align: center;
  color: white;
  padding: 20px;
  border-radius: 15px;
  transition: transform 0.3s ease;
}

.card:hover {
  transform: scale(1.05);
}

.icon {
  font-size: 50px;
  margin-bottom: 10px;
 
  display: flex;
  height: auto;
  width: auto;
}

.clientes {
  background-color: #8261be;
}

.rutinas {
  background-color: #8261be;
}

.ejercicios {
  background-color: #8261be;
}

