h2 {
    text-align: center;
  }
  
  form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 20px;
  }
  
  input {
    padding: 8px;
    font-size: 14px;
  }
  
  .botones {
    display: flex;
    justify-content: space-around;
  }
  
  button {
    padding: 10px 20px;
    font-size: 14px;
  }
  