<div class="login-container">
  <div class="login-form">
    <img src="assets/images/wolflogo.png" alt="Logo GYM WOLF" class="logo-img" />
    <h1>GYM WOLF</h1>
    <p class="subtitle">Ingrese sus credenciales para acceder</p>

    <form (ngSubmit)="login()" #loginForm="ngForm">
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Correo electrónico</mat-label>
        <input matInput type="email" [(ngModel)]="email" name="email" required />
        <mat-icon matSuffix>mail</mat-icon>
      </mat-form-field>

      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Contraseña</mat-label>
        <input matInput [type]="hide ? 'password' : 'text'" [(ngModel)]="password" name="password" required />
        <button class="btn-visibility" mat-icon-button matSuffix type="button" (click)="hide = !hide">
          <mat-icon>{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
        </button>
      </mat-form-field>

      <button mat-flat-button color="primary" class="login-btn btn-primary btn" type="submit">Iniciar Sesión</button>
    </form>

    <a href="#" class="forgot-password">¿Olvidó su contraseña?</a>
  </div>

  <div class="login-image">
    <img src="assets/images/fondo-login.png" alt="Fondo decorativo" />
  </div>
</div>
