<div class="container">
  <h2 class="title">Registrar Nuevo Ejercicio</h2>
  <form
    [formGroup]="ejercicioForm"
    (ngSubmit)="onSubmit()"
    class="form-container"
  >
    <!-- Selección de Categoría -->
    <div class="form-group">
      <label for="idCategoriaEjercicio" class="form-label">Categoría</label>
      <select formControlName="categoriaEjercicio" class="form-control">
        <option value="" disabled>Seleccione una categoría</option>
        <option *ngFor="let categoria of categorias" [ngValue]="categoria">
          {{ categoria.nombreCategoria }}
        </option>
      </select>
      <div
        *ngIf="
          ejercicioForm.get('idCategoriaEjercicio')?.invalid &&
          ejercicioForm.get('idCategoriaEjercicio')?.touched
        "
        class="error-message"
      >
        Seleccione una categoría válida.
      </div>
    </div>

    <!-- Nombre del Ejercicio -->
    <div class="form-group">
      <label for="nombreEjercicio" class="form-label"
        >Nombre del Ejercicio</label
      >
      <input
        id="nombreEjercicio"
        formControlName="nombreEjercicio"
        type="text"
        class="form-control"
        placeholder="Nombre del ejercicio"
      />
      <div
        *ngIf="
          ejercicioForm.get('nombreEjercicio')?.invalid &&
          ejercicioForm.get('nombreEjercicio')?.touched
        "
        class="error-message"
      >
        El nombre del ejercicio es obligatorio y no debe exceder 50 caracteres.
      </div>
    </div>

    <!-- Descripción del Ejercicio -->
    <div class="form-group">
      <label for="descripcionEjercicio" class="form-label">Descripción</label>
      <textarea
        id="descripcionEjercicio"
        formControlName="descripcionEjercicio"
        class="form-control"
        placeholder="Descripción del ejercicio"
      ></textarea>
      <div
        *ngIf="
          ejercicioForm.get('descripcionEjercicio')?.invalid &&
          ejercicioForm.get('descripcionEjercicio')?.touched
        "
        class="error-message"
      >
        La descripción es obligatoria y no debe exceder 100 caracteres.
      </div>
    </div>

    <!-- Código del Equipo -->
    <div class="form-group">
      <label for="codigoEquipo" class="form-label">Código del Equipo</label>
      <input
        id="codigoEquipo"
        formControlName="codigoEquipo"
        type="text"
        class="form-control"
        placeholder="Código del equipo (opcional)"
      />
      <div
        *ngIf="
          ejercicioForm.get('codigoEquipo')?.invalid &&
          ejercicioForm.get('codigoEquipo')?.touched
        "
        class="error-message"
      >
        El código del equipo no debe exceder 20 caracteres.
      </div>
    </div>

    <div
    *ngFor="let imagen of imagenes.controls; let i = index"
    [formGroupName]="i"
    class="form-group"
  >
  <label for="descripcionImagen{{ i }}" class="form-label">Imagen {{ i + 1 }}</label>

<!-- Input de archivo -->
<input
  id="fileInput{{ i }}"
  type="file"
  class="form-control"
  (change)="onFileSelected($event, i)"
  accept="image/*"
/>
   
  
    <!-- Campo oculto para almacenar la URL generada -->
    <input
      type="hidden"
      formControlName="urlImagen"
    />
  


<!-- Previsualización de la imagen -->
<div *ngIf="previews[i]" class="mt-2">
  <img [src]="previews[i]" alt="Vista previa" width="150" height="auto" />
</div>
  
    <!-- Descripción -->
    <label for="descripcionImagen{{ i }}" class="form-label">Descripción de la Imagen</label>
    <input
      id="descripcionImagen{{ i }}"
      formControlName="descripcionImagen"
      type="text"
      class="form-control"
      placeholder="Descripción de la imagen (opcional)"
    />
  
    <button type="button" (click)="removeImagen(i)" class="btn btn-danger mt-2">
      Eliminar Imagen
    </button>

  
    </div>

    <button type="button" (click)="addImagen()" class="btn btn-primary">
      Agregar Imagen
    </button>
    <!-- Botón de Guardar -->
    <button
      type="submit"
      [disabled]="!ejercicioForm.valid"
      class="btn btn-success"
    >
      Guardar Ejercicio
    </button>
  </form>
</div>
