<div class="clientes-header">
  <div class="boton-agregar-container">
    <a routerLink="/clientes/nuevo" class="boton-agregar-cliente">+ Agregar Cliente</a>
  </div>
  <div class="buscar-container">
    <input type="text" [(ngModel)]="nombreBusqueda" placeholder="Buscar por nombre" class="buscar-input">
    <button (click)="buscarPorNombre(nombreBusqueda)" class="buscar-boton">Buscar</button>
  </div>
</div>

<div class="tarjetas-container">
  <div class="tarjeta-cliente" *ngFor="let cliente of clientes">
    <div class="imagen-container">
      <img [src]="urlImagen+cliente.fotografia || 'assets/default-user.png'" alt="Foto del cliente" />
    </div>
    <div class="contenido">
      <h3>{{ cliente.nombreCliente }} {{ cliente.apellidosCliente }}</h3>
      <p><strong>Teléfono:</strong> {{ cliente.telefono }}</p>
      <div class="acciones">
        <button (click)="editarCliente(cliente.idCliente)" class="btn-editar">Editar</button>
        <button (click)="eliminarCliente(cliente.idCliente)" class="btn-eliminar">Eliminar</button>
        <button (click)="generarReporte(cliente.idCliente)">Generar Reporte</button>
      </div>
    </div>
  </div>
</div>
