<div class="clientes-container">
  <h2>Lista de Clientes</h2>

  <div class="boton-agregar-container">
    <a routerLink="/clientes/nuevo" class="boton-agregar-cliente">
      + Agregar Cliente
    </a>
  </div>

  <table class="tabla-clientes">
    <thead>
      <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Teléfono</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let cliente of clientes">
        <td>{{ cliente.idCliente }}</td>
        <td>{{ cliente.nombreCliente }} {{ cliente.apellidosCliente }}</td>
        <td>{{ cliente.telefono }}</td>
        <td class="acciones-container">
          <button class="btn-editar" (click)="editarCliente(cliente.idCliente)">Editar</button>
          <button class="btn-eliminar" (click)="eliminarCliente(cliente.idCliente)">Eliminar</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

