.exercise-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
  padding: 20px;
}

.exercise-card {
  background-color: #b8a2e6; /* Morado Material (puedes ajustarlo) */
  color: white;
  border-radius: 12px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.4);
  transition: transform 0.3s, box-shadow 0.3s;
}

.exercise-card:hover {
  transform: translateY(-5px);
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.5);
}

.exercise-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.exercise-name {
  font-weight: bold;
  font-size: 18px;
  margin-right: 10px;
}

.exercise-info img {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 8px;
}

.boton-agregar-categoria{
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
  border: none;
  
  color: #f7f2f2;
  background-color: #ac70ff;
}