/* Modal general */
.modal-title {
    background-color: #7a42f4;
    color: white;
    padding: 1rem;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    margin: 0;
    font-size: 1.25rem;
  }
  
  .modal-form {
    background-color: #1e1e1e;
    color: #ddd;
    padding: 2rem;
    border-radius: 12px;
    width: 100%;
    max-width: 90vw;  
      box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.5);
    margin: auto;
    overflow-x: hidden;      /* Oculta cualquier desbordamiento horizontal */
    box-sizing: border-box;  /* Incluye padding y borde dentro del ancho */
  
  }
  
  .form-field {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.5rem;
  }
  
  .form-field label {
    margin-bottom: 0.5rem;
    color: #ccc;
    font-weight: 500;
  }
  
  .form-field input {
    padding: 0.5rem 1rem;
    background-color: #2c2c2c;
    color: #fff;
    border: 1px solid #555;
    border-radius: 6px;
    outline: none;
  }
  
  .modal-buttons {
    display: flex;
    justify-content: space-between;
  }
  
  .btn {
    padding: 0.6rem 1.2rem;
    border: none;
    border-radius: 6px;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .btn-guardar {
    background-color: #7a42f4;
    color: white;
  }
  
  .btn-guardar:disabled {
    background-color: #a97eff;
    cursor: not-allowed;
  }
  
  .btn-cancelar {
    background-color: #3c3c3c;
    color: #eee;
  }
  
  .btn:hover {
    filter: brightness(1.1);
  }
  .preview-container {
    margin-top: 12px;
    text-align: center;
  }
  
  .preview-img {
    max-width: 240px; /* ajusta según tu diseño */
    max-height: 200px;
    border-radius: 12px;
    border: 1px solid #ccc;
    object-fit: cover; /* mantiene proporción sin deformar */
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  }
  
  .previa{
    color: #7e31eb;
  }