<div class="formulario-container">
  <h2>{{ esNuevo ? 'Registrar Cliente' : 'Editar Cliente' }}</h2>

  <form (ngSubmit)="guardar()">
    <label>Número de Identificación:</label>
    <input [(ngModel)]="cliente.numeroIdentificacion" name="numeroIdentificacion" required>

    <label>Nombre:</label>
    <input [(ngModel)]="cliente.nombreCliente" name="nombreCliente" required>

    <label>Apellidos:</label>
    <input [(ngModel)]="cliente.apellidosCliente" name="apellidosCliente" required>

    <label>Fecha de Nacimiento:</label>
    <input [(ngModel)]="cliente.fechaNacimiento" name="fechaNacimiento" type="date" required>

    <label>Teléfono:</label>
    <input [(ngModel)]="cliente.telefono" name="telefono" required>

    <label>Correco Electronico:</label>
    <input [(ngModel)]="cliente.gmail" name="telefono" type="]
    " required>

    <label>Dirección:</label>
    <input [(ngModel)]="cliente.direccion" name="direccion" required>

    <label>Nombre de Contacto de Emergencia:</label>
    <input [(ngModel)]="cliente.nombreContactoEmergencia" name="nombreContactoEmergencia" required>

    <label>Teléfono de Emergencia:</label>
    <input [(ngModel)]="cliente.telefonoContactoEmergencia" name="telefonoContactoEmergencia" required>

    <div class="form-field">
      <label for="imagen">Seleccionar imagen:</label>
      <input
        id="imagen"
        type="file"
        accept="image/*"
        capture="environment"
        (change)="onFileSelected($event)"
      />
    </div>
    
    <!-- Opcional: vista previa -->
    <div class *ngIf="imagenPreview" class="preview-container">
      <p class="previa">Vista previa:</p>
      <img [src]="imagenPreview" alt="Imagen seleccionada" class="preview-img" />
    </div>

    <button type="submit" class="boton-agregar-cliente">
      {{ esNuevo ? 'Guardar Cliente' : 'Actualizar Cliente' }}
    </button>
  </form>
</div>
